*{
	margin:0;
	padding:0;
	font-family:'OpenSans-Regular';
}
.background{
	background-image:url(image/pahar.jpg);
	background-size:cover;
	background-repeat:no-repeat;
	padding-bottom:50px;
}
.header-area{
	background:rgba(0,0,0,0.68);
}
.container{
	overflow:hidden;
	margin:auto;
	width: 1110px;
}
.logo-area {
    width: 200px;
    float: left;
}
.logo-area a{
	text-decoration:none;
	font-size: 23px;
	padding: 15px 0;
	display: block;
}

.logo-area a h2 {
    color: #fff;
}
.logo-area a h2 span{
	color:#FF6A4A;
}
.menu-area {
    width: 750px;
    float: right;
}
.menu-area ul li{
	float:left;
	list-style: none;
}
.menu-area ul li a{
	text-decoration:none;
	padding: 26px 32px;
	display:block;
	color:#fff;
	transition:.5s;
}
.menu-area ul li a:hover{
	color:#FF6A4A;
}
.top-write{
	text-align:center;
	margin-top: 100px;
}
.top-write h2{
	font-size: 65px;
	font-weight: 70;
}
.top-write h3 {
    font-size: 22px;
    font-weight: 80;
    margin-top: 35px;
    margin-bottom: 180px;
}

.top-write h1 {
    font-size: 50px;
    font-weight: 80;
    margin-bottom: 50px;
}

.box1{
	background:#2B2B2B;
	width:370px;
	height:310px;
	float:left;
	position:relative;
}

.box2{
	background:#2B2B2B;
	width:370px;
	height:310px;
	float:right;
	position:relative;
	
}
.box3{
	background:#2B2B2B;
	width:370px;
	height:310px;
	margin:auto;
	margin-top: 310px;
	position:relative;
}
.box4{
	background:#2B2B2B;
	width: 371px;
	height:310px;
	float:left;
	position:relative;
}
.box5{
	background:#2B2B2B;
	width:370px;
	height:310px;
	float:right;
	position:relative;
}
.box6{
	background:#2B2B2B;
	width:370px;
	height:310px;
	margin:auto;
	margin-top: 310px;
	position:relative;
}
.box7{
	background:#2B2B2B;
	width:370px;
	height:310px;
	float:left;
	position:relative;
}
.box8{
	background:#2B2B2B;
	width:370px;
	height:310px;
	float:right;
	position:relative;
}
.boxStyle1 h4{
	color:#fff;
	text-decoration:none;
	padding: 10px 13px;
	border-top:2px solid #fff;
	border-bottom:2px solid #fff;
	margin-bottom: 12px;
	font-size: 17px;
	display: inline-block;
	transition:.4s;
}
.boxStyle1 a{
	text-decoration:none;
}
.boxStyle1 h4:hover{
	color:#FF6A4A;
	border-color:#FF6A4A;
}
.boxStyle1{
	width: 220px;
	height: 150px;
	position:absolute;
	top:0;
	bottom:0;
	left:0;
	right:0;
	margin:auto;
}


.boxStyle2 h4{
	color:#fff;
	text-decoration:none;
	padding: 10px 13px;
	border-top:2px solid #fff;
	border-bottom:2px solid #fff;
	margin-bottom: 12px;
	font-size: 17px;
	display: inline-block;
	transition:.4s;
}
.boxStyle2 a{
	text-decoration:none;
}
.boxStyle2 h4:hover{
	color:#FF6A4A;
	border-color:#FF6A4A;
}
.boxStyle2{
	width: 295px;
	height: 150px;
	position:absolute;
	top:0;
	bottom:0;
	left:0;
	right:0;
	margin:auto;
}
.boxStyle3 h4{
	color:#fff;
	text-decoration:none;
	padding: 10px 13px;
	border-top:2px solid #fff;
	border-bottom:2px solid #fff;
	margin-bottom: 12px;
	font-size: 17px;
	display: inline-block;
	transition:.4s;
}
.boxStyle3 a{
	text-decoration:none;
}
.boxStyle3 h4:hover{
	color:#FF6A4A;
	border-color:#FF6A4A;
}
.boxStyle3{
	width: 301px;
	height: 150px;
	position:absolute;
	top:0;
	bottom:0;
	left:0;
	right:0;
	margin:auto;
}
.boxStyle4 h4{
	color:#fff;
	text-decoration:none;
	padding: 10px 13px;
	border-top:2px solid #fff;
	border-bottom:2px solid #fff;
	margin-bottom: 12px;
	font-size: 17px;
	display: inline-block;
	transition:.4s;
}
.boxStyle4 a{
	text-decoration:none;
}
.boxStyle4 h4:hover{
	color:#FF6A4A;
	border-color:#FF6A4A;
}
.boxStyle4{
	width: 249px;
	height: 150px;
	position:absolute;
	top:0;
	bottom:0;
	left:0;
	right:0;
	margin:auto;
}
.boxStyle5 h4{
	color:#fff;
	text-decoration:none;
	padding: 10px 13px;
	border-top:2px solid #fff;
	border-bottom:2px solid #fff;
	margin-bottom: 12px;
	font-size: 17px;
	display: inline-block;
	transition:.4s;
}
.boxStyle5 a{
	text-decoration:none;
}
.boxStyle5 h4:hover{
	color:#FF6A4A;
	border-color:#FF6A4A;
}
.boxStyle5{
	width: 251px;
	height: 150px;
	position:absolute;
	top:0;
	bottom:0;
	left:0;
	right:0;
	margin:auto;
}
.boxStyle6 h4{
	color:#fff;
	text-decoration:none;
	padding: 10px 13px;
	border-top:2px solid #fff;
	border-bottom:2px solid #fff;
	margin-bottom: 12px;
	font-size: 17px;
	display: inline-block;
	transition:.4s;
}
.boxStyle6 a{
	text-decoration:none;
}
.boxStyle6 h4:hover{
	color:#FF6A4A;
	border-color:#FF6A4A;
}
.boxStyle6{
	width: 250px;
	height: 150px;
	position:absolute;
	top:0;
	bottom:0;
	left:0;
	right:0;
	margin:auto;
}
.boxStyle7 h4{
	color:#fff;
	text-decoration:none;
	padding: 10px 13px;
	border-top:2px solid #fff;
	border-bottom:2px solid #fff;
	margin-bottom: 12px;
	font-size: 17px;
	display: inline-block;
	transition:.4s;
}
.boxStyle7 a{
	text-decoration:none;
}
.boxStyle7 h4:hover{
	color:#FF6A4A;
	border-color:#FF6A4A;
}
.boxStyle7{
	width: 250px;
	height: 150px;
	position:absolute;
	top:0;
	bottom:0;
	left:0;
	right:0;
	margin:auto;
}
.boxStyle8 h4{
	color:#fff;
	text-decoration:none;
	padding: 10px 13px;
	border-top:2px solid #fff;
	border-bottom:2px solid #fff;
	margin-bottom: 12px;
	font-size: 17px;
	display: inline-block;
	transition:.4s;
}
.boxStyle8 a{
	text-decoration:none;
}
.boxStyle8 h4:hover{
	color:#FF6A4A;
	border-color:#FF6A4A;
}
.boxStyle8{
	width: 240px;
	height: 150px;
	position:absolute;
	top:0;
	bottom:0;
	left:0;
	right:0;
	margin:auto;
}
.bottomber{
	width: 979px;
	margin:auto;
	font-size: 28px;
	margin-top: 80px;
}
.bottomber h2{
	color:#fff;
	font-weight:100;
	padding-bottom: 90px;
	padding-top: 90px;
}
footer{
	background:#2B2B2B;
}
.Stream{
	float:left;
	width:277px;
}
.Request{
	float:left;
	width:277px;
}
.Contact{
	float:left;
	width:277px;
}
.Social{
	float:left;
	width:277px;
}
.footer-write h3{
	color:#fff;
	font-size: 30px;
	padding-bottom: 35px;
	padding-top: 40px;
	font-weight: 70;
}
.footer-write ul li{
	list-style:none;
	line-height: 2;
	color: #A2A2A2;
	font-size: 14px;
	cursor: pointer;
	transition:.4s;
}
.footer-write ul li:hover{
	color:#fff;
}
.footerWeb{
	background:#191919;
	padding:20px 0;
}
.background-size{
	padding-bottom:50px;
}
.footerWeb p{
	color:#fff;
	text-align:center;
	font-size:14px;
	
}
.footerWeb p span{
	color:#FF6A4A;
	cursor:pointer;
	transition:.4s;
}
.footerWeb p span:hover{
	color:#fff;
}